<div class="wrapper">
    <header id="main-head">Math Racer</header>
    <main id="main-content">Main

        <div class="subject">
            <h2>Please select your subject</h2>
            
            <button class = "subSelect" id="add">Addition</button>
            <input name="addition" type = "hidden">

            <button class = "subSelect" id="sub">Subtraction</button> 
            <input name="subtraction" type = "hidden">
       
            <button class = "subSelect" id= "mul" >Multiplication</button>
            <input name="multiplication" type = "hidden">

            <button class = "subSelect" id= "div" >Division</button>
            <input name="division" type = "hidden">
        </div>

    </main>
    <footer id="main-footer">Footer</footer>
</div>